.link {
    display: flex;
    justify-content: center;
    align-items: center;

    a,
    .last {
        line-height: 1;
        font-size: 5vw;
    }

    span {
        color: var(--opacity);
    }
}

@media screen and (min-width:1200px) {
    .link {
        display: flex;
        justify-content: center;
        align-items: center;

        a,
        .last {
            line-height: 1;
            font-size: .9vw;
        }

        svg {
            font-size: .8vw;
            margin-top: .2vh;
        }
    }
}