.container {
    border-bottom: 2px solid var(--price);
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    position: absolute;
    top: -36vh;
    z-index: 1;
    background-color: var(--body);
}

.container.active {
    top: 35vh;
    transition: all 1s;
}

.container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 65vh;
}

.container li {
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 500;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1200px) {
    .container {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        position: relative;
        border-bottom: 2px solid var(--infos);
    }

    .container ul {
        flex-direction: row;
        min-height: auto;
    }

    .container li {
        margin: 1vw 1vw;
        font-family: var(--font);
        text-transform: uppercase;
        font-size: .7vw;
        font-weight: 500;
        height: auto;
    }
}