.container {
    width: 100%;
    height: 10vh;
}

.logo {
    position: relative;
    height: 6vh;
    width: 6vh;
}

.logo img {
    object-fit: contain;
}

.categories li,
.categories li p {
    font-family: var(--font);
    text-transform: uppercase !important;
    font-size: 3vw;
    font-weight: 500;
}

@media screen and (min-width:1200px) {
    .container {
        width: 100%;
        border-bottom: 0 solid transparent;
    }

    .categories {
        width: 50%;
    }

    .categories li,
    .categories li p {
        font-family: var(--font);
        font-size: .7vw;
        font-weight: 500;
    }
}