.container {
    all: unset;
    color: var(--body);
    padding: 2vh 1vw;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon {
        margin-right: .5vw;
    }

}

.body {
    background-color: var(--body);
    color: var(--primary);
}

.success {
    background-color: var(--success);
    color: var(--body);
}

.primary {
    background-color: var(--primary);
}

.opacity {
    background-color: var(--opacity);
}

.warning {
    background-color: var(--warning);
}