.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body);
    margin: .5vh 0;
    min-height: 10vh;
    width: 100%;
    border-radius: 2px;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0, .1));
    padding: 2vh 2vh;
}

.fimg {
    position: relative;
    width: 8vh;
    height: 8vh;
}

.fimg img {
    object-fit: contain;
}

.container h2 {
    font-size: 4vw;
    font-weight: normal;
    font-family: var(--titleFont);
    text-transform: none;
    width: 20vw;
}

.quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.modify {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    padding: 1vh 1vw;
}

.word {
    font-size: 2.5vw;
    font-weight: 100;
}

.minus,
.plus {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: 9vw;
    width: 9vw;
    font-weight: bold;
    text-align: center;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minus svg,
.plus svg {
    font-size: 3vw !important;
    margin: 0 auto;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0, .1));
}

.delete {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.delete svg {
    fill: var(--error);
    font-size: 5vw !important;
}

.minus {
    margin-right: .7vw;
}

.plus {
    margin-left: .7vw;
}

.price {
    color: var(--price);
    font-size: 1.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1200px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--body);
        margin: 1vh 0;
        min-height: 20vh;
        width: 80%;
        border-radius: 2px;
        filter: drop-shadow(0 0 5px rgb(0, 0, 0, .1));
        padding: 2vh 2vh;
    }

    .fimg {
        position: relative;
        width: 7vw;
        height: 7vw;
    }

    .fimg img {
        object-fit: contain;
    }

    .container h2 {
        margin: 0;
        font-size: 2.5vw;
        width: auto;
    }

    .infos {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .text {
        max-width: 60%;
        margin-left: 2vw;
    }

    .text p {
        font-size: 1.1vw;
    }

    .quantity {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    .modify {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--primary);
        padding: 1vh 1vw;
    }

    .word {
        font-size: 1.2vh;
        font-weight: 100;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .minus,
    .plus {
        padding: 0;
        margin: 0;
        border-radius: 50%;
        height: 2vh;
        width: 2vh;
        font-weight: bold;
        text-align: center;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .minus svg,
    .plus svg {
        font-size: .7vw !important;
        margin: 0 auto;
        filter: drop-shadow(0 0 1px rgb(0, 0, 0, .1));
    }

    .delete {
        height: 3vh;
        width: 3vh;
        color: var(--dark);
        background-color: var(--error);
        position: absolute;
        right: 3vh;
        top: 3vh;
    }

    .delete svg {
        font-size: 1vw !important;
        margin: 0;
        fill: var(--body);
    }

    .minus {
        margin-right: .7vw;
    }

    .plus {
        margin-left: .7vw;
    }

    .price {
        color: var(--price);
        font-size: 1.3vh;
    }
}