.container {
    padding: 5vh 0;

    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fimg {
        position: relative;
        width: 80vw;
        height: 30vh;

        img {
            object-fit: contain;
            padding: 5vh 0;
        }
    }


    .infos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
        padding: 0 0 5vh 0;

        h1 {
            margin-bottom: 2vh;
        }
    }

    .category {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        color: var(--price);
        font-style: italic;

    }

    .price {
        color: var(--price);
        font-weight: bold;
        font-size: 4vw;
        margin-bottom: 2vh;
    }

    .infos p {
        margin-bottom: 1vh;
    }
}

@media screen and (min-width:1200px) {
    .container article {
        min-height: 90vh;
    }

    .fimg {
        position: relative;
        width: 40vw;
        height: 70vh;

        img {
            object-fit: contain;
        }
    }


    .infos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 60vw;
        min-height: 70vh;
        padding: 5vh 2vw;
    }

    .price {
        color: var(--price);
        font-weight: bold;
        font-size: 1.5vh;
        margin-bottom: 2vh;
    }

    .infos p {
        margin-bottom: 1vh;
    }
}