.container {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10vw;
    position: relative;
    z-index: 2;
    background-color: var(--body);
    border-bottom: 2px solid var(--infos);
}

.logo {
    position: relative;
    height: 10vh;
    width: 25vh;
}

.logo img {
    object-fit: contain;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid var(--primary);
}

.search svg {
    font-size: 6vw;
    margin: 0 1vw 0 0;
}

.networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.networks li {
    margin: 0 .5vw;
    font-size: 2vh;
    color: var(--price);
    display: flex;
    justify-content: center;
    align-items: center;
}

.networks li:first-child {
    border-right: 1px solid rgb(0, 0, 0, .1);
    width: 17vw;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.networks svg {
    font-size: 5vw;
    color: var(--dark);
}

.cartContainer {
    position: relative;
    background-color: transparent !important;
    padding: 0;
    margin: 0;
}

.cartContainer svg {
    font-size: 12vw;
}

.qty {
    position: absolute;
    font-size: 4vw;
    font-weight: bold;
    color: var(--dark);
    background-color: var(--primary);
    border-radius: 50%;
    overflow: hidden;
    width: 8vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -15%;
    left: 65%;
}

@media screen and (min-width:1200px) {
    .container {
        height: 15vh;
        width: 100%;
        flex-direction: row-reverse;
        margin: 0 auto;
        padding: 3vh 5vw;
        align-items: flex-end;
        border-bottom: 0 solid transparent;
    }

    .logo {
        height: 100%;
        width: 25vh;
        margin: 0;
    }

    .search {
        width: 30vw;
        margin: 0;
    }

    .search svg {
        font-size: 3vh;
    }

    .networks {
        width: auto;
        margin: 0;
        align-items: flex-end;
    }

    .networks li:first-child {
        width: auto;
        padding: 0;
    }

    .networks li:first-child svg {
        margin: 0 .5vw 0 0;
    }

    .networks svg {
        font-size: 1.2vw;
        color: var(--dark);
    }

    .cartContainer svg {
        font-size: 2.5vw;
    }

    .qty {
        font-size: 1.3vw;
        width: 2vw;
        height: 2vw;
        top: 0;
        left: 65%;
    }
}